root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{sh,fish,html,ejs,tpl,blade.php,json,jsonnet,yml,yaml,sql}]
indent_size = 2

[bin/*]
indent_size = 2

[bin.wsl/*]
indent_size = 2

[git-hooks/*]
indent_size = 2

[*.bashrc]
indent_size = 2

[*.go]
indent_style = tab

[composer.json]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 8

[*.bat]
end_of_line = crlf
