root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space

[bin/*]
indent_size = 2

[*.bashrc]
indent_size = 2

[*.{php.js}]
indent_size = 4

[*.{sh,fish,html,ejs,tpl,blade.php,json,yml,yaml,sql}]
indent_size = 2

[*.go]
indent_style = tab
indent_size = 4

[composer.json]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 8

[*.{bat,btf}]
end_of_line = crlf
