[core]
    quotepath = false
    autocrlf = false
    excludesfile = ~/.gitignore_global
    preloadindex = true
    fscache = true
    trustctime = true
    checkStat = minimal
    editor = code-git

[init]
    defaultBranch = main

[log]
    date = iso

[color]
    ui = auto

[alias]
    sw = switch
    re = restore
    res = restore
    cm = !"_() { git ds --stat; git commit -m \"$*\"; }; _"
    amend = commit --amend -C HEAD
    br = branch
    b  = branch
    st = status
    s  = status
    sb = status -sb
    f  = fetch --all --prune --verbose --force
    ds = diff --staged --find-renames --irreversible-delete
    du = diff '@{u}' --find-renames --irreversible-delete
    g  = log --graph --date=short --date-order --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\"
    gg = log --graph --date=short --date-order --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\" --all
    ore = !git config user.name 'Toshiyuki Goto' && git config user.email ngyuki.jp@gmail.com
    first = !git commit -m first --allow-empty && git config core.filemode false

[diff]
    algorithm = histogram
    #tool = vscode
    #tool = difftastic

[difftool "vscode"]
    cmd = git-difftool-vscode $LOCAL $REMOTE

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[difftool "gron"]
  #cmd = sh -c 'colordiff -U 3 <(gron "$1" | sed -r "s/\\[[0-9]\\]/[]/") <(gron "$2" | sed -r "s/\\[[0-9]\\]/[]/")' -- "$LOCAL" "$REMOTE"
  cmd = sh -c 'diff -U 0 <(gron "$1") <(gron "$2")' -- "$LOCAL" "$REMOTE"

# [pager]
#   difftool = true

[fetch]
    prune = true

[rebase]
    autosquash = true
    instructionFormat = "[%as] %s @%an %d"

[merge]
    ff = false
    tool = WinMerge

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "WinMerge"]
    cmd = git-mergetool-winmerge \"$MERGED\"
    trustExitCode = false

[pull]
    ff = only
    rebase = preserve

[push]
    # for 1.8 nothing matching upstream current simple
    # for 1.7 nothing matching tracking current
    default = current
    useForceIfIncludes = true

################################################################################
# diff-highlight

[core]
    pager = diff-highlight | less

[interactive]
    diffFilter = diff-highlight
