[core]
	quotepath = false
	autocrlf = false
	excludesfile = ~/.gitignore
	preloadindex = true
	fscache = true

[color]
	ui = auto

[alias]
	co = checkout
	br = branch
	b  = branch
	st = status
	s  = status
	sb = status -sb
	g  = log --graph --date=short --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\"
	gg = log --graph --date=short --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\" --all
	chmod = update-index --chmod
	ore = !git config user.name ngyuki && git config user.email ngyuki.jp@gmail.com

[diff]
	algorithm = histogram

[rebase]
	autosquash = true

[push]
	# for 1.8 nothing matching upstream current simple
	# for 1.7 nothing matching tracking current
	default = upstream

[user]
	name = ngyuki
	email = ngyuki.jp@gmail.com

[difftool "WinMerge"]
    cmd = git-difftool-winmerge \"$LOCAL\" \"$REMOTE\"

[alias]
    windiff = difftool -y -d -t WinMerge
