
.local/

# git-svn
sys$command

# eclipse
.settings
.buildpath
.project
.externalToolBuilders

# phpstorm
.idea/

# sublime text
*.sublime-project
*.sublime-workspace
.sublime/

# vscode
* copy.*

# windows shortcut
*.lnk

# Visual Studio
*.suo
*.user
~obj/
~out/

# Excel
~$*.xlsx
~$*.xlsm

# Mac
.DS_Store

# vagrant
.vagrant-*/

# dotenv
.envrc

# unison
*.unison.tmp

# terraform
.terraform-version
