[core]
    quotepath = false
    autocrlf = false
    excludesfile = ~/.gitignore
    preloadindex = true
    fscache = true

[log]
    date = iso

[color]
    ui = auto

[alias]
    co = checkout
    cm = commit -v -c @
    br = branch
    b  = branch
    st = status
    s  = status
    sb = status -sb
    f  = fetch --all -pvtf
    ds = diff --staged --find-renames --irreversible-delete
    du = diff '@{u}' --find-renames --irreversible-delete
    g  = log --graph --date=short --date-order --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\"
    gg = log --graph --date=short --date-order --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\" --all
    ore = !git config user.name 'Toshiyuki Goto' && git config user.email ngyuki.jp@gmail.com
    first = !git commit -m first --allow-empty && git config core.filemode false

[diff]
    algorithm = histogram

[fetch]
    prune = true

[rebase]
    autosquash = true

[merge]
    ff = false
    tool = WinMerge

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "WinMerge"]
    cmd = git-mergetool-winmerge \"$MERGED\"
    trustExitCode = false

[pull]
    ff = only
    rebase = preserve

[push]
    # for 1.8 nothing matching upstream current simple
    # for 1.7 nothing matching tracking current
    default = current

[pager]
    log  = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
